* {
  box-sizing: border-box;
}

body {
  background: #000;
}

.container {
  height: 200px;
  background: skyblue;
  border: 1px solid black;
  margin: auto;
}

.clear-fix::after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  visibility: hidden;
  clear: both;
}

.box {
  margin: auto;
  width: 20%;
  height: 100%;
  float: left;
  margin-right: 15px;
  background: limegreen;
}
