:root {
  --color-orange-1: #cf711f;
  --color-orange-2: #e67e22;

  --color-grey-1: #333;
  --color-grey-2: #888;
  --color-grey-3: #6f6f6f;
  --color-grey-rgb: rgb(102, 102, 102);

  --color-light-1: #fdf2e9;
  --color-light-2: #ddd;
  --color-light-3: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

