* {
  margin: 0;
  padding: 0;
}
body {
  padding: 20px;
}
.main__nav--items {
  list-style: none;
  width: 100%;
  text-align: right;
}
.main__nav--items li {
  display: inline;
}

.main__nav--item {
  margin: 10px 8px 0 8px;
  font-size: 15px;
}

.account {
  font-size: 18px;
  background: rgb(28, 180, 231);
  padding: 8px;
  border-radius: 50%;
  color: white;
}

.container {
  margin-top: 150px;
  text-align: center;
}

.google {
  margin-bottom: 25px;
}
span {
  font-size: 80px;
  font-weight: bold;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.green {
  color: green;
}

.search__bar {
  display: block;
  margin: auto;
  width: 50%;
  height: 40px;
}

.google__button {
  text-decoration: none;
  color: rgb(65, 62, 62);
  display: inline-block;
  margin: 20px 8px;
  background: rgb(247, 240, 240);
  padding: 10px;
}
